@media only screen and (max-width: 1800px) { 

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d9872a
}

.container{
    width: 80%;
    margin-left: 10%;
}
.nav, form ul{
    list-style: none
}
header,footer{
    background-color: #8e8171
}
a{
    color: #d9872a
}
a:hover{
    color: #f78a0e
}

a:visited{
    color: #d9872a
}
input, textarea{
    border-radius: 1%;
}
form{
    border-radius: 1%;
    margin: 0% auto;
    width: 75%;
    padding: 2.5%;
    background-color: #8e8171
}

label{
    color: #f78a0e;
}
#formCrest{
    float: right;
    width:50%;
}
footer{
    text-align: center;
    height: 50px;
}
.firstBearFooter{
    float: left;
}
.secondBearFooter{
    float: right;
}

footer span {
    font-size: 50
}
.aboutLeft {
    width: 50%;
    float: left;
}

.aboutRight {
    float: right;
}

.map {
    clear: both;
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.index { 
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

}